@font-face {
    font-family: 'SmackBoom';
    src: url("assets/smack_boom/Smack Boom.ttf")
}

* { 
/* global reset --> same across different browsers */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


button {
    background-color:darkorange;
	border: 0;
    margin: 10px;
    padding: 10px;
	outline: none;
	cursor: pointer;
	font-size: 32px;
	font-weight: 500;
	border-radius: 30px;
	align-items:baseline;
	justify-content: center;
	font-family:'SmackBoom' ;
	color:gold ;
    width: 400px;
    position: fixed;
    bottom: 72%;
    left: 5%;
    font-size: 50px;;
}

/* 
#instructionbtn {
	padding: 10px 60px;
	margin: 10px;
	background-color:darkorange;
	border: 0;
	outline: none;
	cursor: pointer;
	font-size: 32px;
	font-weight: 500;
    width: 400px;
	border-radius: 30px;
	align-items:baseline;
	justify-content: center;
	font-family:'SmackBoom' ;
	color:gold ;
	position: fixed;
    bottom: 55%;
    left: 15%;
}

.popup {
	width: 400px;
	background-color: coral;
	border-radius: 6px;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	padding: 0 30px 30px;
	color:floralwhite ;
	font-size: 20px;
	font-family:'SmackBoom' ;
	font-weight: lighter;
	visibility: hidden;
	transition: transform 0.4s, top 0.4s;
}

.open-popup{
	visibility: visible;
}

.popup h2 {
	text-align: center;
	margin-top: 10px;
} */

body {
    background-color:black;
    background-image: url('assets/background.jpg');
    background-image: -moz-element(url('assets/background.jpg'));
    background-repeat: no-repeat;
}


#rat {
    position: absolute;
    top: 34%;
    left: 82%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    width: 500px;
    height: 375px;
}

#Cat {
    position: absolute;
    top: 35%;
    left: 45%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    width: 300px;
    height: 350px;
}
#Trap {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    width: 300px;
    height: 200px;
}

#Poison {
    position: absolute;
    top: 35%;
    left: 58%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    width: 150px;
    height:300px;
}


.header {
    text-align: center;
    font-size: 50px;
    color:gold;
    text-shadow: 2px 2px 2px rgb(87, 88, 82);
    margin: 10px 10px 10px 10px;
    top: 0px;
    padding: 5px;
    font-family: 'SmackBoom';
}

#gamecanvas {
    border: 5px solid gold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

#player, #enemy1Cat, #enemy2Poison, #enemy3Trap, #food, #layer1, #layer2, #layer3 {
    display:none;
}



#music {
    background-color: gold;
    border-radius: 5px;
    margin: 50px;
    padding: 10px;
    position: fixed;
    bottom: 3%;
    left: 67%;
} 
#music1 {
    background-color: gold;
    border-radius: 5px;
    margin: 50px;
    padding: 10px;
    position: fixed;
    bottom: 10%;
    left: 1%;
} 

.instructions {
    font-family: 'SmackBoom';
    text-align: center;
    color: gold;
    border: 7px solid gold;
    font-weight: lighter;
    padding: 20px 20px;
    font-size: 20px;
    width: 1000px;
    height: 300px;
    position: fixed;
    bottom: 5%;
    left: 30%;
}
.instructionscontainer {
    background-color: darkorange;
}












