@font-face {
    font-family: 'SmackBoom';
    src: url("assets/smack_boom/Smack Boom.ttf")
}

body {
    background-color:black;
    background-image: url('assets/background.jpg');
    background-image: -moz-element(url('assets/background.jpg'));
    background-repeat: no-repeat;
}


.header {
    text-align: center;
    font-size: 30px;
    color:gold;
    text-shadow: 2px 2px 2px black;
    margin: 0px 0px 0px 0px;
    top: 0px;
    padding: 5px;
    font-family: 'SmackBoom';
}

#streetcanvas {
    border: 5px solid gold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

#player, #enemy1Cat, #enemy2Poison, #enemy3Trap, #food, #layer1, #layer2, #layer3 {
    display:none;
}


#music {
    background-color: gold;
    border-radius: 5px;
    margin: 50px;
    padding: 10px;
    position: fixed;
    bottom: 0;
} 














